@media screen and (max-width: 1024px){
	.nav-toggle-btn {
	    display: flex;
	}
	.nav-items-wrapper .nav-list {
	    flex-direction: column;
	    position: fixed;
	    right: -100%;
	    top: 80px;
	    display: block;
	    width: 250px;
	    height: 100vh;
	    background: #ffffff;
	    align-items: flex-start;
	    z-index: 99;
	    overflow: hidden;
	    transition: all .5s ease;
	    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.nav-items-wrapper.menu-visible .nav-list {
	    right: 0;
	    transition: all .5s ease;
	}
	.nav-list-item {
	    height: auto;
	}
	.nav-list-item-link {
	    display: block;
	    height: auto;
	}
	.feature-item-outer {
	    width: calc( 100% / 4 );
	}
}

@media screen and (max-width: 991px){
	.home-section {
	    padding-top: 0;
	}

	.home-section .container {
	    padding: 0;
	    max-width: 100%;
	}

	.home-item-outer {
	    border-radius: 0;
	}

	.home-item-content {
	    border-radius: 0;
	}
	.feature-item-outer {
	    width: calc( 100% / 3 );
	}
	.footer-top-wrapper {
	    display: block;
	}

	.footer-logo-outer {
	    margin-bottom: 20px;
	}
	.footer-bottom-outer {
	    display: block;
	    text-align: center;
	}
	.footer-bottom-list{
		justify-content: center;
	}

	.copyright-text {
	    margin-bottom: 15px;
	}
}

@media screen and (max-width: 767px){
	.apply-btn-outer {
	    display: none;
	}

	.section__title {
	    font-size: 25px;
	}

	.counter-wrapper {
	    transform: translateX(0);
	}

	.counter-section {
	    padding: 40px 0;
	}

	.footer-section {
	    padding-top: 40px;
	}

	.footer-items-wrapper {
	    padding-top: 40px;
	    padding-bottom: 10px;
	}
	.feature-item-outer {
	    width: calc( 100% / 2 );
	}
}

@media screen and (max-width: 576px){
	.feature-item-outer {
	    width: 100%;
	}
	.home-item-content {
	    padding: 60px 0 60px 40px;
	}
	.subscribe-form-outer {
	    width: 100%;
	}

	.subscribe-form-btn {
	    position: unset;
	    height: auto;
	    margin-top: 15px;
	}
	.header-section{
		padding: 0 20px;
	}
}

@media screen and (max-width: 500px){
	.testimonial-item-outer {
	    display: block;
	    text-align: center;
	}

	.testimonial-info-outer {
	    width: 100%;
	}

	.testimonial-img-outer {
	    margin-right: 0;
	    margin-bottom: 15px;
	    text-align: center;
	}

	.testimonial-img {border-radius: 100%;margin: auto;}

	.testimonial-ratting {
	    justify-content: center;
	}
}