/*common css start*/
:root{
    --primary-color: #e76a02;
    --secondary-color: #0d1321; 
    --c-color: #fff;
}

* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

p {
    font-size: 14px;
    line-height: 26px;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Sora", sans-serif;
}

.separate-color {
    color: var(--primary-color);
}

/*common css End*/

/* Common btn css start */
.common-btn-outer{
    margin-top: 40px;
}

.common-btn-inner {
    border: 1px solid #E4E4E4;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 15px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 1;
}

.common-btn-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -1;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    opacity: 0;
    border-radius: 12px;
}

.common-btn-inner:hover::after {
    width: 100%;
    opacity: 1;
}

.common-btn-inner:hover {
    color: #fff;
}
/* Common btn css End */

/* Section title css start */
.section-outer {
    margin-bottom: 40px;
}

.section__subtitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.section__title {
    font-size: 35px;
    line-height: 1.34;
    font-weight: 700;
    margin-bottom: 0;
}

.section__title .title-shape {
    position: absolute;
    z-index: -1;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -o-object-fit: contain;
    object-fit: contain;
}
/* Section title css End */

/*Header css start*/
.header-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0 40px;
}

.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.brand-logo-outer {
    display: inline-block;
}

.brand-logo {
    max-width: 200px;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.submenu-list {
    position: absolute;
    width: 240px;
    margin: 0;
    padding: 10px 0;
    left: 0;
    top: 120px;
    -webkit-box-shadow: 0px 10px 70px rgba(89, 86, 230, 0.1);
    box-shadow: 0px 10px 70px rgba(89, 86, 230, 0.1);
    background-color: #fff;
    border-radius: 5px;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list-item.item-has-submenu {
    position: relative;
}

.nav-list-item-link {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list-item-link i {
    font-size: 12px;
    margin-left: 5px;
}

.submenu-list-item-link {
    display: block;
    color: var(--secondary-color);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.submenu-list-item:last-child .submenu-list-item-link {
    border-bottom: none;
}

.nav-list-item-link:hover {
    color: var(--primary-color);
}

.nav-list-item.item-has-submenu:hover .submenu-list {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.submenu-list-item-link:hover {color: #fff;}

.submenu-list-item-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: all .5s ease;
}

.submenu-list-item-link:hover::before {
    width: 100%;
}

.apply-btn-outer {
    /* padding-left: 30px; */
}

.apply-btn-inner {
    border: 1px solid var(--primary-color);
    padding: 10px 15px;
    display: inline-block;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 1;
}

.apply-btn-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -1;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    opacity: 1;
}

.apply-btn-inner:hover::after {
    width: 0%;
    opacity: 0;
}

.apply-btn-inner:hover {
    color: var(--secondary-color);
}

/*small btn css*/
.nav-toggle-btn .btn-inner {
    width: 26px;
    border-bottom: 1px solid var(--primary-color);
    position: relative;
    transition: all .4s ease;
}
.nav-toggle-btn {
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.nav-toggle-btn .btn-inner:before {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: var(--primary-color);
    top: -7px;
}
.nav-toggle-btn .btn-inner:after {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: var(--primary-color);
    top: 7px;
}

.menu-visible .nav-toggle-btn .btn-inner {
    border: transparent;
}

.menu-visible .nav-toggle-btn .btn-inner:before {
    transform: rotate(45deg);
    top: 0px;
    transition: all .3s ease;
}

.menu-visible .nav-toggle-btn .btn-inner:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

/*Header css End*/

/* Home section css start */
.home-section {
    padding: 30px 0;
} 

.home-item-outer {
    display: flex;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 100px 0; */
    position: relative;
    border-radius: 10px;
}

.home-item-content {
    max-width: 600px;
    padding: 100px 0 100px 50px;
    background: linear-gradient(to right, #893200, #ffffff00);
    border-radius: 10px;
}

.home-item-title {
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

.home-item-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-bottom: 15px;
}

.home-item-btn {
    display: inline-block;
    background: var(--primary-color);
    padding: 8px 15px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
}

.home-items-wrapper .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background: #fff!important;
    z-index: 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-items-wrapper .owl-nav button span {
    font-size: 25px;
    display: inline-block;
}

.home-items-wrapper .owl-nav button.owl-prev {
    left: 5px;
}

.home-items-wrapper .owl-nav button.owl-next {
    right: 5px;
}

.home-items-wrapper .owl-dots {
    margin-top: 10px;
    text-align: center;
}

.home-items-wrapper .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #ddd;
    margin-right: 10px;
}

.home-items-wrapper .owl-dots .owl-dot:last-child {
    margin-right: 0;
}

.home-items-wrapper .owl-dots .owl-dot.active {
    background: var(--primary-color);
}
/* Home section css Emd */

/* Service section css start */
.service-section {
    padding: 40px 0;
    background: #f7f8f8;
}

.section-outer.service {
    text-align: center;
}

.service-item-wrap {
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    background: #fff;
    height: 100%;
    border-radius: 5px;
}

.service-section .li-margin-bottom {
    margin-bottom: 20px;
}

.service-image-outer {
    width: 50px;
    height: 100%;
    background: #dddddd7d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.service-image {
    width: 22px;
}

.service-title {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: var(--secomdary-color);
    margin-bottom: 5px;
}

.service-title:hover {
    color: var(--primary-color);
}

.service-text {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 300;
    color: var(--secondary-color);
}
/* Service section css End */

/* Service step css start */
.service-step-section {
    padding: 40px 0;
}

.service-step-item-outer {
    margin-bottom: 30px;
}

.service-step-item-icon {
    max-width: 50px;
    margin-bottom: 15px;
}

.service-step-item-title {
    font-size: 20px;
    font-weight: 500;
    color: var(--secondary-color);
}

.service-step-item-text {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
}
/* Service step css End */

/* Jobs section css start */
.jobs-section {
    padding: 40px 0;
}

.jobs-section .li-margin-bottom {
    margin-bottom: 20px;
}

.job-itam-wrap {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
    padding: 15px 10px;
    height: 100%;
}

.job-itam-top-outer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.job-itam-logo-outer {
    margin-right: 10px;
}

.job-itam-logo {
    max-width: 60px;
}

.job-itam-top-company-name {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-color);
}

.job-itam-top-text {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #888585;
}

.job-itam-content {
    margin-bottom: 15px;
}

.job-itam-name {
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 0;
    display: inline-block;
}

.job-itam-name:hover {
    color: var(--primary-color);
}

.job-itam-text {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: #888585;
}

.job-itam-bottom-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.job-itam-price {
    font-size: 16px;
    font-weight: 600;
    color: #0ea70e;
}

.job-itam-btn {
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-color);
    text-transform: capitalize;
    border-radius: 5px;
}

.job-itam-btn:hover {
    background: var(--primary-color);
    color: #fff;
}
/* Jobs section css End */

/* Info section css start */
.feature-section {
    padding: 60px 0;
    background: #031f42;
    position: relative;
    z-index: 1;
}

.feature-bg {
    position: absolute;
    background-image: url(../images/round-wave-shape.svg);
    max-width: 500px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.feature-bg-book {
    position: absolute;
    background-image: url(../images/book-shape.svg);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    bottom: 20px;
    right: 130px;
    z-index: -1;
}

.feature-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.feature-item-outer {
    text-align: center;
    padding: 30px;
    width: calc( 100% / 5 );
}

.feature-item-image {
    max-width: 60px;
    margin-bottom: 15px;
}

.feature-item-title {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 0;
}
/* Info section css End */

/* Course section css start */
.course-section{
    padding: 40px 0;
}

.course-item-content {
    margin-top: 10px;
}

.course-item-name {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    display: inline-block;
}

.course-item-name:hover {
    color: var(--primary-color);
}

.course-item-company-link {
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    margin-bottom: 5px;
}

.course-item-company-link a {
    text-decoration: underline;
    color: var(--primary-color);
}

.course-item-ratting {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.course-item-ratting i {
    margin-right: 3px;
    font-size: 14px;
    color: var(--primary-color);
}

.course-item-ratting-number {
    font-size: 14px;
    font-weight: 400;
    color: #828282;
}

.course-item-price {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
}

.course-items-wrapper .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 9;
}

.course-items-wrapper .owl-nav button span {
    display: inline-block;
    font-size: 30px;
}

.course-items-wrapper .owl-nav button.owl-prev {
    left: 2px;
}

.course-items-wrapper .owl-nav button.owl-next {
    right: 2px;
}
/* Course section css End */

/* Testimonial section css start */
.testimonial-section {
    padding: 40px 0;
    background: #fff4ea;
}

.testimonial-item-outer {
    display: flex;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 20px 15px;
}

.testimonial-img-outer {margin-right: 15px;}

.testimonial-info-outer {
    width: calc( 100% - 200px);
    /* padding: 20px 15px; */
}

.testimonial-img {
    max-width: 200px;
}

.testimonial-info-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}

.testimonial-ratting {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.testimonial-ratting i {
    font-size: 18px;
    margin-right: 4px;
    color: var(--primary-color);
}

.testimonial-info {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.testimonial-items-wrapper .owl-dots {
    margin-top: 20px;
    text-align: center;
}

.testimonial-items-wrapper .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    background: #ddd;
    border-radius: 100%;
    margin-right: 6px;
}

.testimonial-items-wrapper .owl-dots .owl-dot:last-child {
    margin-right: 0;
}

.testimonial-items-wrapper .owl-dots .owl-dot.active {
    background: var(--primary-color);
}
/* Testimonial section css End */

/* Candidate section css start */
.candidate-section {
    padding: 40px 0;
}

.candidate-section .li-margin-bottom {
    margin-bottom: 30px;
}

.candidate-item-outer {
    text-align: center;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    border: 1px solid #ECEDF2;
    border-radius: 8px;
    padding: 30px;
}

.candidate-item-outer:hover {
    -webkit-box-shadow: 0 6px 15px 0 rgba(64, 79, 104, 0.05);
    box-shadow: 0 6px 15px 0 rgba(64, 79, 104, 0.05);
}

.candidate-image-outer {
    margin-bottom: 15px;
}

.candidate-image {
    width: 90px;
    height: 90px;
    border-radius: 100%;
}

.candidate-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

.candidate-job {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
}

.candidate-info-outer {
    margin-top: 18px;
}

.candidate-job-metas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.candidate-location {
    font-size: 14px;
    font-weight: 400;
    color: #696969;
    margin-right: 15px;
}

.candidate-salary {
    font-size: 14px;
    font-weight: 400;
    color: #696969;
}

.candidate-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.tag-candidate {
    text-transform: capitalize;
    margin-bottom: 5px;
    margin-right: 6px;
    font-size: 14px;
    display: inline-block;
    padding: 5px 15px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: #F0F5F7;
    color: #696969;
    border-radius: 30px;
}

.tag-candidate:last-child {
    margin-right: 0;
}

.tag-candidate:hover {
    background: var(--primary-color);
    color: #fff;
}

.candidate-link {
    display: block;
    padding: 10px 30px;
    background: #e2cfbf;
    color: var(--primary-color);
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.candidate-link:hover {
    background: var(--primary-color);
    color: #fff;
}
/* Candidate section css End */

/*clients section css start*/
.client-section {
    padding-top: 40px;
}
.client__logo-item-outer {
    display: inline-block;
}
.client__logo-item-inner {
    max-width: 160px;
    transition: all .5s ease;
}
/*clients section css End*/

/* Counter section css start */
.counter-wrapper {
    background: #fff;
    padding: 20px;
    transform: translateY(50%);
    box-shadow: 0 0 #0000,0 0 #0000,0 -10px 25px rgba(0,0,0,.06);
    border-radius: 5px;
}

.counter-item-outer {
    border: 1px solid #ececfa;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.counter-number {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.counter-name {
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
}
/* Counter section css End */

/*Footer section css start*/
.footer-section {
    padding-top: 150px;
    background: #031f42;
}

/* Footer top css */
.footer-top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-logo-outer {
    display: inline-block;
}

.footer-brand-outer {
    display: inline-block;
}

.subscribe-form-outer {
    width: 500px;
}

.subscribe-form-title {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.subscribe-form {
    position: relative;
    border-radius: 4px;
}

.subscribe-form-btn {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 5px;
}

.subscribe-form input {
    background: #293965;
    border: navajowhite;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.subscribe-form input:focus {
    box-shadow: none;
    background: #293965;
    color: #fff;
}
/* Footer top css */

/* Footer Center css */
.footer-items-wrapper {
    padding: 50px 0;
    border-top: 1px solid #22345e;
    border-bottom: 1px solid #22345e;
}

.footer-item-wrap {
    margin-bottom: 20px;
}

.footer-item__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 25px;
    color: #858b9c;
}

.footer-social-list {
    display: flex;
}

.footer__social-list-item {
    margin-right: 10px;
}

.footer__social-list-item:last-child {
    margin-right: 0;
}

.footer__social-list-item-link {
    background: #293965;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.footer__social-list-item-link i {
    font-size: 14px;
    color: #fff;
    transition: all .3s ease;
}

.footer__social-list-item-link:hover {
    background: var(--primary-color);
}

.footer__social-list-item-link:hover i {
    color: #fff;
}

.footer__item-title {
    color: #fff;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    position: relative;
    display: block;
    transition: all 0.3s ease;
}

.footer__list-item {
    display: block;
    padding: 5px 0px;
    position: relative;
    transition: all .3s ease;
}

.footer__list-item-link {
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #858b9c;
    line-height: 24px;
    margin-bottom: 0;
}

.footer__list-item-link:hover {
    color: var(--primary-color);
    padding-left: 5px;
}

.footer__list-item:last-child {
    border-bottom: 0;
}
/* Footer Center css */

.footer-bottom-wrapper {
    background: #031f42;
    padding: 30px 0;
}

.footer-bottom-list {
    display: flex;
    align-items: center;
}

.footer-bottom-list-item {
    margin-right: 20px;
}

.footer-bottom-list-item:last-child {
    margin-right: 0;
}

.footer-bottom-list-item-link {
    display: inline-block;
    color: #7880aa;
    font-size: 16px;
    font-weight: 500;
}

.footer-bottom-list-item-link:hover {
    color: var(--primary-color);
} 

.footer-bottom-outer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright-text {
    margin-bottom: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.copyright-text a {
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
/*Footer section css End*/