/*common css start*/
:root{
    --primary-color: #4196cd;
    --secondary-color: #0d1321; 
    --c-color: #fff;
}

* {
    padding: 0;
    margin: 0;
}

button,
a {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-decoration: none;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}

p {
    font-size: 14px;
    line-height: 26px;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Sora", sans-serif;
}
main {
    position: relative;
    z-index: 0;
    background-image: url(../images/01.jpg);
    background-position: top center;
    background-size: cover;
}
/*common css End*/

/* Common btn css start */
.common-btn-outer{
    margin-top: 40px;
}

.common-btn-inner {
    border: 1px solid #E4E4E4;
    padding: 20px 40px;
    display: inline-block;
    border-radius: 15px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 1;
}

.common-btn-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -1;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    opacity: 0;
    border-radius: 12px;
}

.common-btn-inner:hover::after {
    width: 100%;
    opacity: 1;
}

.common-btn-inner:hover {
    color: #fff;
}
/* Common btn css End */

/* Section title css start */
.section-outer {
    text-align: center;
    margin-bottom: 50px;
}

.section__subtitle {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 15px;
    color: var(--primary-color);
    letter-spacing: 2px;
}

.section__title {
    font-size: 40px;
    line-height: 1.34;
    font-weight: 600;
    margin-bottom: 14px;
    position: relative;
    z-index: 0;
    margin-bottom: 0;
}

.section__title .title-shape {
    position: absolute;
    z-index: -1;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -o-object-fit: contain;
    object-fit: contain;
}
/* Section title css End */

/*Header css start*/
.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background: transparent;
}

.nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.brand-logo-outer {
    display: inline-block;
}

.brand-logo {
    max-width: 200px;
}

.nav-list {
    display: flex;
    align-items: center;
    height: 100%;
}

.submenu-list {
    position: absolute;
    width: 240px;
    margin: 0;
    padding: 10px 0;
    left: 0;
    top: 120px;
    -webkit-box-shadow: 0px 10px 70px rgba(89, 86, 230, 0.1);
    box-shadow: 0px 10px 70px rgba(89, 86, 230, 0.1);
    background-color: #fff;
    border-radius: 5px;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
}

.nav-list-item {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list-item.item-has-submenu {
    position: relative;
}

.nav-list-item-link {
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-list-item-link i {
    font-size: 12px;
    margin-left: 5px;
}

.submenu-list-item-link {
    display: block;
    color: var(--secondary-color);
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

.submenu-list-item:last-child .submenu-list-item-link {
    border-bottom: none;
}

.nav-list-item-link:hover {
    color: var(--primary-color);
}

.nav-list-item.item-has-submenu:hover .submenu-list {
    top: 100%;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.submenu-list-item-link:hover {color: #fff;}

.submenu-list-item-link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    transition: all .5s ease;
}

.submenu-list-item-link:hover::before {
    width: 100%;
}

.apply-btn-outer {
    padding-left: 30px;
}

.apply-btn-inner {
    border: 1px solid var(--primary-color);
    padding: 12px 40px;
    display: inline-block;
    border-radius: 15px;
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    cursor: pointer;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 1;
}

.apply-btn-inner:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-color);
    z-index: -1;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    opacity: 0;
    border-radius: 12px;
}

.apply-btn-inner:hover::after {
    width: 100%;
    opacity: 1;
}

.apply-btn-inner:hover {
    color: #fff;
}


    /*small btn css*/
.nav-toggle-btn .btn-inner {
    width: 26px;
    border-bottom: 1px solid #ff7e16;
    position: relative;
    transition: all .4s ease;
}
.nav-toggle-btn {
    height: 30px;
    width: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ff7e16;
    padding: 5px;
    border-radius: 5px;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 999;
}
.nav-toggle-btn .btn-inner:before {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #ff7e16;
    top: -7px;
}
.nav-toggle-btn .btn-inner:after {
    content: "";
    height: 1px;
    width: 26px;
    position: absolute;
    background: #ff7e16;
    top: 7px;
}

.menu-visible .nav-toggle-btn .btn-inner {
    border: transparent;
}

.menu-visible .nav-toggle-btn .btn-inner:before {
    transform: rotate(45deg);
    top: 0px;
    transition: all .3s ease;
}

.menu-visible .nav-toggle-btn .btn-inner:after {
    transform: rotate(-45deg);
    top: 0;
    transition: all .3s ease;
}

    /*fixed header*/
.fixed-header .header-section {
    position: fixed;
    background: rgb(0 0 0 / 74%);
    box-shadow: rgb(245 245 245 / 27%) 0px 3px 8px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}
/*Header css End*/

/* Home section css start */
.home-section {
    padding-top: 150px;
    padding-bottom: 100px;
}

.home__info-wrapper {
    margin-bottom: 30px;
}

.home__info-subtitle {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;
}

.home__info-title {
    font-size: 64px;
    line-height: 1.407;
    color: var(--secondary-color);
    font-weight: 700;
    margin-bottom: 27px;
}

.home__info-title .separate-color {
    color: var(--primary-color);
}

.home__info-text {
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 0;
}

.home__info-wrap {
    position: relative;
}

.home__info-wrap .element-01 {
    position: absolute;
    right: 4%;
    bottom: 5%;
    max-width: 70px;
    z-index: 9;
    -webkit-box-shadow: 0px 30px 70px rgba(89, 86, 230, 0.03);
    box-shadow: 0px 30px 70px rgba(89, 86, 230, 0.03);
    -webkit-animation: zoominout 3s linear infinite;
    animation: zoominout 3s linear infinite;
}

.home__info-wrap .element-02 {
    position: absolute;
    top: 41%;
    left: 8%;
    width: 100px;
    -webkit-animation: scroll-down 3s linear infinite;
    animation: scroll-down 3s linear infinite;
}

.home__info-wrap .element-03 {
    position: absolute;
    right: 14%;
    top: 17%;
    max-width: 470px;
}

.home__info-wrap .element-04 {
    position: absolute;
    top: 0%;
    right: -17%;
    max-width: 190px;
    -webkit-animation: planefly 2.5s linear;
    animation: planefly 2.5s linear;
}

.home__info-wrap .element-05 {
    position: absolute;
    bottom: -23px;
    left: 45%;
    max-width: 25px;
    -webkit-animation: scroll-up 2s linear infinite;
    animation: scroll-up 2s linear infinite;
}

.home__info-wrap .banner-img {
    position: relative;
    max-width: 600px;
}

@-webkit-keyframes zoominout {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes zoominout {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes scroll-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 50%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes scroll-up {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 50%;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@-webkit-keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes planefly {
  0% {
    right: 26%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes planefly {
  0% {
    right: 26%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Home section css Emd */

/* Feature section css start */
.features-section {
    padding: 50px 0;
    position: relative;
    z-index: 0;
}

.features-item-shape {
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 75px;
    max-width: 300px;
}

.features-item-wrap {
    height: 100%;
    padding: 40px 40px 40px 40px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    background-color: #fff;
    -webkit-box-shadow: 0px 30px 70px rgba(89, 86, 230, 0.1);
    box-shadow: 0px 30px 70px rgba(89, 86, 230, 0.1);
    border-radius: 20px;
}

.features-height {
    margin-bottom: 30px;
}

.features__item-icon-outer {
    margin-bottom: 30px;
}

.features__item-icon {
    max-width: 55px;
    height: 70px;
    object-fit: contain;
}

.features__item-title {
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 600;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    margin-bottom: 20px;
}

.features__item-text {
    color: #6b6b6b;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 25px;
}

.features__item-link {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color);
}

.features__item-link i {
    font-size: 12px;
    margin-left: 2px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.features__item-link:hover {
    color: var(--secondary-color);
}

.features__item-link:hover i {
    margin-left: 5px;
}
/* Feature section css End */

/* Feature section css start */
.feedback-section {
    padding: 60px 0;
}

.feedback__item-wrap {
    margin-bottom: 30px;
    position: relative;
    z-index: 0;
    transition: all 0.5s ease;
}

.feedback__item-image {
    border-radius: 20px;
    width: 100%;
    height: 400px;
}

.feedback__item-wrap:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(83.41%, rgba(65, 150, 205, 0.8)), to(var(--primary-color)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(65, 150, 205, 0.8) 83.41%, var(--primary-color) 100%);
    border-radius: 20px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0;
    visibility: hidden;
}

.feedback__item-wrap:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(83.41%, var(--secondary-color)), to(var(--secondary-color)));
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--secondary-color) 83.41%, var(--secondary-color) 100%);
    border-radius: 20px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 1;
    visibility: visible;
}

.video-play-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 75px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.feedback__item-content {
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 40px;
    bottom: 25px;
    width: calc(100% - 80px);
}

.feedback__item-title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.feedback__item-university {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
    margin-bottom: 0;
}

.feedback__item-wrap:hover::before {
    opacity: 1;
    visibility: visible;
}

.feedback__item-wrap:hover {
    transform: translateY(-5px);
}
/* Feature section css End */

/* Destination section css start */
.destination-section {
    padding: 50px 0;
    background: rgba(242, 242, 242, 0.9);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.destination-position-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 500px;
    height: 100px;
}

.destination-plane {
    position: absolute;
    bottom: 100px;
    right: 50px;
    max-width: 150px;
    height: 107px;
    -webkit-animation: planefly-02 1.5s linear;
    animation: planefly-02 1.5s linear;
}

.section__text {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin-bottom: 0;
}

.destination-items-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.destination-item-outer {
    width: calc( 100% / 6 - 20px );
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    display: block;
    padding: 30px 25px;
    margin-bottom: 30px;
}

.destination__item-image-outer {
    margin-bottom: 20px;
}

.destination__item-image-outer img {
    max-width: 120px;
    height: 117px;
}

.destination__item-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    color: var(--secondary-color);
}

.destination-item-outer:hover {
    background: #fff;
    border: 1px solid #fff;
    -webkit-box-shadow: 0px 10px 30px rgba(89, 86, 230, 0.05);
    box-shadow: 0px 10px 30px rgba(89, 86, 230, 0.05);
}

.destination-section .common-btn-outer {
    margin-top: 20px;
}

@-webkit-keyframes planefly-02 {
  0% {
    right: -10%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes planefly-02 {
  0% {
    right: -10%;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* Destination section css End */

/* Home about section css start */
.home-about-section {
    padding: 80px 0;
}

.home__about-info-wrap .section-outer {
    text-align: start;
}

.home__about-info-text, .home__about-info-text * {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: var(--secondary-color);
}

.counter-items-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.counter__item-outer {
    padding: 20px 15px;
    border-radius: 7px;
    text-align: center;
}

.counter__item-outer:nth-child(1) {
    background-color: #F5F2FE;
    border-left: 3px solid var(--primary-color);
}

.counter__item-outer:nth-child(2) {
    background-color: #FFFBF3;
    border-left: 3px solid #FFDFA0;
}

.counter__item-outer:nth-child(3) {
    background-color: #FEF0F0;
    border-left: 3px solid #FBBDBD;
}

.counter__item-number {
    font-size: 35px;
    font-weight: 700;
}

.counter__item-outer:nth-child(1) .counter__item-number {
    color: var(--primary-color);
}

.counter__item-outer:nth-child(2) .counter__item-number {
    color: #FFC44E;
}

.counter__item-outer:nth-child(3) .counter__item-number {
    color: #F32424;
}

.counter__item-naem {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary-color);
}

.home__about-info-wrap .common-btn-outer {
    margin-top: 20px;
}
/* Home about section css end */

/* Collage section css start */
.collage-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.collage__item-outer {
    width: calc(100% / 6 - 20px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 30px 25px;
    margin-bottom: 30px;
    margin-right: 20px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.collage__item-image-outer {
    margin-bottom: 20px;
}

.collage__item-image-outer img {
    max-width: 70px;
}

.collage__item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--secondary-color);
    margin-bottom: 0;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.collage__item-outer:hover {
    border: 1px solid var(--primary-color);
}

.collage__item-outer:hover .collage__item-name {
    color: var(--primary-color);
}
/* Collage section css End */

/* Process section css start */
.collage-items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.collage__item-outer {
    width: calc(100% / 6 - 20px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #E4E4E4;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding: 30px 25px;
    margin-bottom: 30px;
    margin-right: 20px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.collage__item-image-outer {
    margin-bottom: 20px;
}

.collage__item-image-outer img {
    max-width: 70px;
}

.collage__item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--secondary-color);
    margin-bottom: 0;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.collage__item-outer:hover {
    border: 1px solid var(--primary-color);
}

.collage__item-outer:hover .collage__item-name {
    color: var(--primary-color);
}

.process-section {
    padding: 40px 0;
    background: #FAEAFF;
}

.process-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.process__item-outer {
    width: 25%;
    text-align: center;
}

.process__item-number-outer {
    width: 100px;
    height: 100px;
    line-height: 130px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 0;
    margin-bottom: 15px;
}

.process__item-number {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

.process__item-number-outer:after {
    position: absolute;
    content: "";
    right: -140px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-image: url(../images/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.process__item-outer:last-child .process__item-number-outer::after {
    display: none;
}

.process__item-name {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-color);
}
/* Process section css End */

/* Faq section css start */
.faq-section {
    padding: 50px 0;
    background: #F2F2F2;
}

.faq-items-wrapper .accordion-button.collapsed {
    display: block;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 20px!important;
}

.faq-items-wrapper .accordion-item {
    margin-bottom: 20px;
    border-radius: 20px;
}

.faq-items-wrapper .accordion-button {
    border-radius: 20px!important;
    padding: 20px;
    display: block;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--secondary-color);
    background: #fff;
    border: none;
    box-shadow: none;
}

.faq-items-wrapper .accordion-button.collapsed:after {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    content: "\f067";
    font-family: "fontawesome";
    font-weight: 900;
    font-size: 18px;
    background: #fff;
}

.faq-items-wrapper .accordion-button:after {
    content: "\f068";
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    font-family: "fontawesome";
    font-weight: 900;
    font-size: 18px;
    background: #fff;
}

.faq-items-wrapper .accordion-body, .faq-items-wrapper .accordion-body * {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--secondary-color);
    -webkit-transition: 0.7s alternate;
    transition: 0.7s alternate;
}
/* Faq section css End */

/* About page css start */
.home-about-section.about-page {
    padding-top: 140px;
}

.home-about-section.about-page .section-outer {
    margin-bottom: 20px;
}

.home__about-info-wrap .about-list {
    margin-top: 30px;
}

.about__list-item {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 20px;
    display: flex;
}

.about__list-item i {
    margin-right: 7px;
    font-size: 18px;
    color: var(--primary-color);
}
/* About page css End */

/* Chose section css start */
.chose-section {
    margin-top: 60px;
    background: #82b6d7;
}

.chose__items-content-wrap {
    padding: 40px;
}

.chose__items-content-outer {
    display: flex;
    margin-bottom: 30px;
}

.chose__items-content-wrap .section-outer {
    text-align: start;
}

.chose__items-content-icon-outer {
    margin-right: 15px;
}

.chose__items-content-icon {
    width: 50px;
}

.chose__items-content-wrap .section__title {
    color: #fff;
}

.chose__items-content-wrap .section__text {
    color: #FFF;
}

.chose__items-content-title {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.chose__items-content-text,.chose__items-content-text * {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: var(--secondary-color);
}
/* Chose section css End */


/*Footer section css start*/
.footer-section {
    padding: 50px 0px;
    background: #000;
}

.footer-item-wrap {
    margin-bottom: 20px;
}

.footer-brand-outer {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-item__text {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #fff;
}

.footer-social-list {
    display: flex;
}

.footer__social-list-item {
    margin-right: 15px;
}

.footer__social-list-item:last-child {
    margin-right: 0;
}

.footer__social-list-item-link {
    background: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.footer__social-list-item-link i {
    font-size: 14px;
    color: var(--primary-color);
    transition: all .3s ease;
}

.footer__social-list-item-link:hover {
    background: var(--primary-color);
}

.footer__social-list-item-link:hover i {
    color: #fff;
}

.footer__item-title {
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    padding-bottom: 7px;
    transition: all 0.3s ease;
}

.footer__item-title:before {
    content: '';
    width: 50%;
    height: 2px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 30px;
    transition: all .3s ease;
}

.footer__item-title:hover::before {
    width: 100%;
}

.footer__list-item {
    border-bottom: 1px dashed;
    border-color: rgba(255, 255, 255, 0.2);
    display: block;
    padding: 10px 0px;
    position: relative;
    transition: all .3s ease;
}

.footer__list-item-link {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-bottom: 0;
}

.footer__list-item-link:hover {
    color: var(--primary-color);
}

.footer__list-item:last-child {
    border-bottom: 0;
}

.footer__list {
    padding-right: 30px;
}

.footer__contact-info-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer__contact-info-list-item i {
    margin-right: 8px;
    font-size: 16px;
}

.footer__contact-info-list-item-link {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.footer__contact-info-list-item-link:hover {
    color: var(--primary-color);
}

.footer-bottom-outer {
    background: #111;
    padding: 20px 0;
}

.copyright-text {
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

.copyright-text a {
    margin: 0 5px;
    font-size: 16px;
    color: var(--primary-color);
}
/*Footer section css End*/